<form>
    <div>
        <div class="input-container">
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" />
        </div>
        <div class="input-container">
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName" />
        </div>
    </div>
    <div class="signature-container">
        <label for="signature">Signature</label>
        <input type="hidden" name="signature" id="signature" />
        <canvas id="canvas" width="400" height="50"></canvas>
    </div>
    <input type="submit" class="submit" value="Sign Petition" />
</form>