<div class="signature-details">
  <h4>First Name:</h4>{{user.first}}
  <h4>Last Name:</h4>{{user.last}}
</div>
<form method="post" action="/petition">
  </div>
    <div class="signature-container">
        <label for="signature">Signature</label>
        <input type="hidden" name="signature" id="signature" />
        <canvas id="canvas" width="800" height="100"></canvas>
    </div>
  <div class="buttons">
    <input type="submit" class="submit" value="Sign Petition" />
    <input type="button" class="clear" id="clear-canvas" value="Clear Signature" />
  </div>
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>