<h1>Welcome to our Digital Advocacy campaign!</h1>
<div class="homepage-container">
  <img class="advocacy-img" src="advocacy.png" alt="">
  <div class="navigation">
  {{#if loggedin}}
    <h2><a href="/logout">LOG OUT</a></h2>
    <h2><a href="/petition">Petition</a></h2>
  {{else}}
    <h2><a href="/login">LOG IN</a> to find and subscribe to our initiatives.</h2>
    <h2><a href="/signup">SIGN UP</a> if you're new to the cause and find out how you can do your part.</h2>
  {{/if}}
  </div>
</div>