<h1 class="homepage-header">Welcome to our Digital Advocacy campaign!</h1>
<div class="homepage-container">
  <img class="advocacy-img" src="/advocacy.png" alt="website icon big">
  <div class="navigation">
  {{#if loggedin}}
    <h2><a href="/auth/logout">LOG OUT</a></h2>
    <h2><a href="/profile/edit">PROFILE</a></h2>
    <h2><a href="/petition">PETITION</a></h2>
    {{#if signature}}
    <h2><a href="/thanks">SIGNATURE</a></h2>
    {{/if}}
  {{else}}
    <h2 class="login-text"><a href="/auth/login">LOG IN</a> to find and subscribe to our initiatives.</h2>
    <h2 class="signup-text"><a href="/auth/signup">SIGN UP</a> if you're new to the cause and find out how you can do your part.</h2>
  {{/if}}
  </div>
</div>