<h1>
    Sign our petition to make tabs mandatory and ban spaces forever in
    ALL programming languages!
</h1>
<img
    class="tabsvsspaces"
    src="tabsvsspaces.png"
    alt="tabs"
    width="90%"
/>
<p>{{err}}</p>
{{> signature}}
