<img class="tab-img" src="tab.png" alt="tab keyboard icon" width="600">
<h1>Please tell us more about yourself :)</h1>
<form class="profile" action="/profile" method="post">
  <div class="input-container">
      <label for="city">City</label>
      <input type="text" name="city" id="city" />
  </div>
  <div class="input-container">
      <label for="age">Age</label>
      <input type="number" name="age" id="age" />
  </div>
  <div class="input-container">
      <label for="url">Homepage</label>
      <input type="url" name="url" id="url" />
  </div>
  <input type="submit" class="submit" value="CONTINUE" />
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>