<div class="signers">
  <p>We, TABS evangelists, subscribe to nagging all Spacers until they convert to our TABS, the one and only true indentation.</p>
  <img src="team_tabs.jpeg" alt="team tabs img" width="600px">
</div>
<ul class="signers-list">
  Subscribers:
  {{> signers}}
</ul>