<h2 class="header">We, TABS evangelists, subscribe to nagging all Spacers until they convert to our TABS, the one and only true indentation.</h2>
<div class="signers">
  <img class="team-tabs" src="/team_tabs.jpeg" alt="team tabs img" width="600">
</div>
<ul class="signers-list">
  {{> signers}}
</ul>