<h1>Welcome to Team TABS! <br>We will only stop until spaces are banished from our realm.</h1>
<div class="teams-content">
  <img class="team-tabs" src="team_tabs.jpeg" alt="team tabs img" width="600px">
  <p>Thank you for your signature!</p>
  <img class="user-signature" src={{signature}} alt="signature">
  <p class="signers-link">Check who else is on Team Tabs by clicking <a href="/signers">HERE</a></p>
  <a class="update-profile-link" href="/profile/edit">Update your Profile</a>
  <form method="delete" action="/signature">
      <input class="clear-signature" type="button" value="Delete your signature">  
      <input type="hidden" name="clear-signature" id="clear-signature" />
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
</div>