body {
    margin: 0;
    color: white;
    background-color: black;
}

* {
}
@media only screen and (max-width: 600px) {
    * {
        font-size: small;
    }
}

.login-text,
.signup-text {
    line-height: 2rem;
}

.homepage-icon {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
}

.tabsvsspaces {
    margin: 0 5%;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form div {
    display: flex;
    justify-content: center;
}

canvas {
    border: 1px dotted black;
    background-color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit {
    width: 12.5rem;
    height: 2.2rem;
    padding: 5px;
    margin: 5px;
    font-size: 1.25rem;
}

.clear {
    width: 12.5rem;
    height: 2.2rem;
}
@media only screen and (max-width: 600px) {
    .clear {
        display: none;
    }
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.signature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}
@media only screen and (max-width: 600px) {
    .signature-container {
        display: none;
    }
}

.team-tabs {
}
@media only screen and (max-width: 600px) {
    .team-tabs {
        width: 18rem;
        margin: 20px auto;
    }
}

.teams-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signers-link {
    margin: 0.5rem;
    font-size: 1.25rem;
}

.signers {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
}

.signers-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: "---->";
    font-size: 1.25rem;
    padding: 0;
}

li {
    font-size: 1rem;
}

.error {
    text-align: center;
    color: red;
}

.user-signature {
    border: 1px solid black;
    margin: 5px;
    background-color: white;
}
@media only screen and (max-width: 600px) {
    .user-signature {
        display: none;
    }
}

.navigation {
}
@media only screen and (max-width: 600px) {
    .navigation {
        font-size: smaller;
    }
}

.homepage-header {
    margin: 2rem;
}
@media only screen and (max-width: 600px) {
    .homepage-header {
        font-size: 1.5rem;
        margin-left: 1.5rem;
    }
}

.login-header {
    text-align: center;
    margin: 2rem;
}
@media only screen and (max-width: 600px) {
    .login-header {
        font-size: 1.5rem;
        margin-left: 1.5rem;
    }
}

.petition-header {
    text-align: center;
    margin: 2rem;
}
@media only screen and (max-width: 600px) {
    .petition-header {
        font-size: 1.5rem;
        margin-top: 6rem;
    }
}

.signers-header {
    text-align: center;
    margin: 2rem;
}
@media only screen and (max-width: 600px) {
    .signers-header {
        font-size: 1.5rem;
        margin-left: 3rem;
    }
}

.thanks-header {
    text-align: center;
    margin: 2rem;
}
@media only screen and (max-width: 600px) {
    .thanks-header {
        font-size: 1.5rem;
        margin-left: 1.5rem;
    }
}

.advocacy-img {
}
@media only screen and (max-width: 600px) {
    .advocacy-img {
        width: 15rem;
    }
}

.homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    .homepage-container {
        flex-direction: column;
        margin: 1rem;
        line-height: 2rem;
    }
}

.navigation a {
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.tab-img {
    display: block;
    margin: 20px auto;
}
@media only screen and (max-width: 600px) {
    .tab-img {
        width: 18rem;
        margin: 20px auto;
    }
}

.signup {
    display: flex;
    flex-direction: row;
    margin: 50px;
}
@media only screen and (max-width: 600px) {
    .signup {
        flex-direction: column;
    }
}

.login-link {
    text-align: center;
}

.signup-link {
    text-align: center;
}

h4 {
    display: inline-block;
    margin: 10px;
}

.signature-details {
    text-align: center;
}

.all-signers-link {
    margin: 1rem;
    text-align: center;
    color: white;
    font-size: 1.25rem;
}

.clear-signature {
    background: none;
    border: none;
    text-decoration: underline;
    color: white;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.update-profile-link {
    margin: 1rem;
    color: white;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
}
