body {
    margin: 0;
    color: white;
    background-color: black;
}
.homepage-icon {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
}

.tabsvsspaces {
    margin: 0 5%;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form div {
    display: flex;
    justify-content: center;
}

canvas {
    border: 1px dotted black;
    background-color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit {
    width: 200px;
    height: 35px;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}

.clear {
    width: 200px;
    height: 35px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.signature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.teams-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signers-link {
    font-size: 20px;
}

.signers {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.signers-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: "---->";
    font-size: 20px;
}

li {
    font-size: 16px;
}

.error {
    text-align: center;
    color: red;
}

.user-signature {
    border: 1px solid black;
    margin: 5px;
    background-color: white;
}

.navigation {
}

.advocacy-img {
}

.homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation a {
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.tab-img {
    display: block;
    margin: 20px auto;
}

.signup {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.login-link {
    text-align: center;
}

.signup-link {
    text-align: center;
}

h4 {
    display: inline-block;
    margin: 10px;
}

.signature-details {
    text-align: center;
}

.clear-signature {
    background: none;
    border: none;
    text-decoration: underline;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.update-profile-link {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
